body{
	background-color:#94A684 ;
}
header{
	height: 250px;
	background-color: #94A684;
}
h1{
	font-size: 7vw;
	text-align: center;
	text-shadow: 2px -2px black;
}
h2{
	text-align: center;
}
nav{
	width: 20%;
	background-color: #849376;
	height: 160px;
	width: 1503px;
	float: left;
}
aside{
	width: 20%;
	background-color: #65786b;
	
	float: left;
	background: rgb(187,222,182);
background: linear-gradient(0deg, rgba(187,222,182,1) 0%, rgba(101,120,107,1) 100%);
}
main{
	width: 80%;
	background-color: #E4E4D0;

	float: left;
}
footer{
	height: 250px;
	background-color: #FAF5EF;
	clear: both;
}
@media only screen and (max-width:800px){
  nav,main,aside{
    width: 100%;
  }
}
.flower{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flower img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.textimg{
	color: whitesmoke;
	z-index: 2;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #E4E4D0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
  display: block;
  margin-left: 20%;
  margin-bottom: 5%;
  align-items: center;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
  margin-left: 20px;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* SMB */
a, a:hover {
  text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
 
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
  width: 40px;
   height: 28px;
  color: #000;
  background-color: #FFF;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}

.socialbtns .fa:hover {
  color: #ffffff;
  background-color: #000;
  border: 1px solid #000;
}
html{
	scroll-behavior: smooth;
}
.up{
	position: fixed;
	bottom: 28px;
	right: 28px;
	z-index: 9;
}
.up a{
	height: 42px;
	width: 42px;
	text-align: center;
	background: #306754;
	display: block;
	border-radius: 2px;
}
.up a span{
	color: #306754;
	font-size: 30px;
	line-height: 42px;
	cursor: pointer;
}
.text1{
	border: dotted 2px forestgreen;
	height: 30px;
	background-color: antiquewhite;
}
iframe{
  margin: auto;
  display: block;
  }

marquee{
  font-size: 40px;
}
article{
  border: solid 1px darkolivegreen;
  margin: 10px;
}
.maps{
  margin: right;
}
figcaption{
  font-size: 24px;
  color: darkseagreen;
  font-weight: 700;
  text-shadow: 2px -2px black;
}